<html>
  <head>
    <title>Play Roguecraft</title>
    
    <script type="text/javascript" src="assets/javascript/phaser.min.js"></script>
    <script type="text/javascript" src="assets/javascript/underscore.js"></script>
    <script type="text/javascript" src="assets/javascript/roguecraft.js"></script>
  </head>
  <body>
    <!-- 
    
                               game goes here!
    
    -->
  </body>
</html>
